<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFDrop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FFDrop.Properties.Settings>
            <setting name="FfmpegDownloadUrl" serializeAs="String">
                <value>https://api.github.com/repos/BtbN/FFmpeg-Builds/releases</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateShellConfirmRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateShellRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
        </FFDrop.Properties.Settings>
    </userSettings>
</configuration>